<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Student Management Menu</h1>
        <ul class="list-group">
            <!-- View All Students Link -->
            <li class="list-group-item">
                <a href="{{ url_for('view_all_students') }}">View All Students</a>
            </li>
            <!-- Add New Student Link -->
            <li class="list-group-item">
                <a href="{{ url_for('create') }}">Add New Student</a>
            </li>

            <!-- Loop through each student to display options -->
            {% for student in students %}
                <li class="list-group-item">
                    <a href="{{ url_for('view', id=student['id']) }}">View Student (ID: {{ student['id'] }})</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('edit', id=student['id']) }}">Edit Student (ID: {{ student['id'] }})</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('delete', id=student['id']) }}">Delete Student (ID: {{ student['id'] }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>


